/* Branding and Colors
----------------------------------------------------*/
/* Base Typography
----------------------------------------------------*/
/* Links
----------------------------------------------------*/
/* Header Typography
----------------------------------------------------*/
/* Breakpoints
----------------------------------------------------*/
/* Grid
----------------------------------------------------*/
/* Nav Settings */
/* Content Typography
----------------------------------------------------*/
/* Additional Foundation Settings
----------------------------------------------------*/
/*-------------------------------------------
    Colors
-------------------------------------------*/
/*-------------------------------------------
    Sizes
-------------------------------------------*/
/*-------------------------------------------
    Media Queries
-------------------------------------------*/
/* 980px / 16px; */
/* 1140px / 16px; */
/*-------------------------------------------
    Bootstrap Settings
-------------------------------------------*/
/* Division Project imports */
@import url(../lib/mediaelement/mediaelementplayer.min.css);
/* Global
-------------------------------------------*/
/* Primary Navigation */
.sidenav__item--current > a {
  color: #fff;
  font-weight: bold;
}
.sidenav__item--section {
  background-color: #111;
}
.sidenav__item--section > a:after {
  content: "";
}
.sidenav__item--section .sidenav__item--current {
  color: #fff;
}
.sidenav__item--second-level .sidenav__link {
  color: #eee;
}
.sidenav__item--second-level .sidenav__link:before {
  content: '';
}
.sidenav__item--second-level .sidenav__link:hover, .sidenav__item--second-level .sidenav__link:focus {
  text-decoration: none;
}
.sidenav__item--second-level.sidenav__item--current > a {
  color: #eee;
}
.sidenav__item--third-level .sidenav__link {
  color: #eee;
  text-decoration: none;
}
.sidenav__item--third-level .sidenav__link:before {
  content: '';
}
.sidenav__item--third-level.sidenav__item--current a {
  color: #fff;
}
.sidenav__link {
  color: #fff;
  text-decoration: none;
}
.sidenav__link:hover, .sidenav__link:focus {
  text-decoration: none;
}

@media (min-width: 768px) {
  .col-md-4.side-content {
    padding-left: 0;
  }
}

.sidenav__link > a:hover, .sidenav__link span.inactive:hover {
  color: #fff;
  text-decoration: none;
}
.sidenav__link > a:before, .sidenav__link span.inactive:before {
  content: "";
}

.sidenav__item .sidenav__item--current > a {
  color: #fff;
  font-weight: bold;
}

.sidenav__item .completed > a, .sidenav__item .completed > span.inactive {
  color: #eee;
}
.sidenav__item .completed > a.sidenav__link .fa .fa-check, .sidenav__item .completed > span.inactive.sidenav__link .fa .fa-check {
  color: #24c063;
}
.sidenav__item .completed > a:hover, .sidenav__item .completed > span.inactive:hover {
  color: #24c063;
  text-decoration: none;
}

.sidenav__item .sidenav__item--active > a, .sidenav__item--active > span.inactive {
  color: #fff;
}
@media screen and (min-width: 768px) {
  .sidenav__item .sidenav__item--active > a:before, .sidenav__item--active > span.inactive:before {
    content: '';
  }
}

.sidenav__link span.inactive {
  color: #858383;
  text-decoration: none;
}
.sidenav__link span.inactive:hover {
  text-decoration: none;
  background-color: none;
  color: #858383;
}

.sidenav h2 {
  padding-left: 10px;
}
.sidenav ul.second-level {
  font-size: 0.8em;
}
.sidenav ul.second-level li a, .sidenav ul.second-level li span.inactive {
  padding-left: 15px;
}

/* Per slide Navigation and Caption */
.well.caption-nav {
  margin-top: 2em;
}
.well.caption-nav img {
  padding: 1em;
}
.well.caption-nav audio {
  width: 100%;
}
.well.caption-nav p {
  margin-top: 0;
}

@media (min-width: 480px) {
  .slide-nav {
    text-align: right;
  }
}

.button--next-sec {
  margin-top: 1em;
  background: #24c063;
  color: white;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.29);
}
@media (min-width: 480px) {
  .button--next-sec {
    margin-top: 0;
  }
}

.statistics ul {
  list-style-type: none;
}
.statistics ul.question-list {
  margin: 0;
}
.statistics .stats-bar {
  position: relative;
  background: #313131;
  height: 100%;
}
.statistics .answer-well {
  position: relative;
  min-height: 20px;
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid #E3E3E3;
  border-radius: 4px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05) inset;
}

/* Main Content Area */
@media screen and (min-width: 768px) {
  .main-content {
    padding-left: 0;
  }
}
.main-content .course-header {
  padding-top: 2em;
}
.main-content .slide-content h1 {
  text-align: center;
}
.main-content .slide-content img {
  display: block;
  margin: auto;
}
@media (min-width: 768px) {
  .main-content .slide-content {
    font-size: 1.3em;
  }
}

h1 {
  font-size: 2.6em;
}

.question-form-container.answered .Actions {
  display: none;
}

.question-status {
  padding: 5px;
}

/*Forms */
.Actions .action {
  background-color: #2488C0;
}

.incorrect {
  background: #f2dede;
}

.correct {
  background: #DFF0D8;
}

.affix-bottom {
  position: relative;
}

/*# sourceMappingURL=app.css.map */
