/*-------------------------------------------
    Colors
-------------------------------------------*/
$link-color: #0088cc;
$yellow: #ffce39;
$green: rgb(36, 192, 99);

/*-------------------------------------------
    Sizes
-------------------------------------------*/
$base-font: 15;
$base-font-size: 15px;

/*-------------------------------------------
    Media Queries
-------------------------------------------*/
$break-small: 480px;
$break-medium: 768px;
$break-large: 980px; /* 980px / 16px; */
$break-xlarge: 1140px; /* 1140px / 16px; */

/*-------------------------------------------
    Bootstrap Settings
-------------------------------------------*/
$navbar-default-bg: #312312;
$light-orange: #ff8c00;
$navbar-default-color: $light-orange;

$font-family-sans-serif: "proxima-nova","Helvetica Neue",Helvetica,Arial,sans-serif;
$headings-font-family: "proxima-nova-condensed",sans-serif;
$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";

