@import 'settings';

/* Division Project imports */

$heading-font: $headings-font-family;


@import "../bower_components/mediaelement/build/mediaelementplayer.min.css";

/* Some Bootstrap Dependencies */
@import "../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/variables";
@import "../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/mixins";
@import "../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/normalize";
@import "../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/print";
@import "../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/glyphicons";
@import "../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/wells";

//@import "../../division-project/scss/imports/_grid-simple.scss";
@import "../../division-project/scss/imports/_grid-bootstrap3.scss";

/* Global
-------------------------------------------*/
@import "../../division-project/scss/imports/_config.scss";
@import "../../division-project/scss/imports/_mixins.scss";
@import "../../division-project/scss/imports/_normalize.scss";
@import "../../division-project/scss/imports/_typography.scss";
@import "../../division-project/scss/imports/_global.scss";

/* Elements
-------------------------------------------*/
@import "../../division-project/scss/imports/_buttons.scss";
@import "../../division-project/scss/imports/_font.scss";
@import "../../division-project/scss/imports/_forms.scss";
@import "../../division-project/scss/imports/_search.scss";
/*@import "../../division-project/scss/imports/_grid.scss";*/ 


@import "../../division-project/scss/imports/_tables.scss";

/* Vendor
-------------------------------------------*/ 
@import "../../division-project/scss/vendor/_flexslider.scss"; 
/*@import "../../division-project/scss/vendor/_foundation-forms.scss";*/

/* Layout
-------------------------------------------*/ 
@import "../../division-project/scss/layout/_home.scss";
@import "../../division-project/scss/layout/_nav.scss";
@import "../../division-project/scss/layout/_footer.scss";


/* Site specific styles
-------------------------------------------*/ 
@import "../../division-project/scss/layout/_site.scss";

/* Print
-------------------------------------------*/
@import "../../division-project/scss/imports/_print.scss";

@import "../../division-bar/css/_division-bar.css";

@import "layout/_nav.scss";

ul > li {
	list-style: none;
}

/* Main Content Area */

.main-content{

	.course-header{
		padding-top: 2em;
	}

	.slide-content{
		h1{
			text-align: center;
		}
		img{
			display: block;
			margin: auto;
		}
		@media (min-width: $break-medium) { 
			font-size: 1.3em;
		}
	}
}



h1{
	margin-top: 1em;
}


.question-form-container.answered .Actions {
	display: none;
}

.question-status{
	padding: 5px;
}

#Question>label {
	//@extend .visuallyhidden;
}
/*Forms */
.Actions .action{
	background-color: #2488C0;
}

.incorrect {
	background: #f2dede;
}

.correct {
	background: #DFF0D8;
}

.affix-bottom {
	position: relative;
}

.ecourse-stats {
	list-style: none;
}

.stats-bar {
	position: relative;
	background: #313131;
	height: 100%;
}

.answer-well {
	position: relative;
    min-height: 20px;
    padding: 3px;
    margin-bottom: 10px;
    //background-color: #DFF0D8;
    border: 1px solid #E3E3E3;
    border-radius: 4px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05) inset;
}

.answer-info {
	
}
