/* Primary Navigation */

.col-md-4.side-content{
	@media (min-width: $screen-md-min) { 
		padding-left: 0;
	}
}

.sec-content.affix{
	position: relative;
	@media (min-width: $screen-md-min) { 
		width: 350px;
		position: fixed;
	}
}

.sec-content{
	.section-title{
		margin-bottom: 10px;
	}
	.playback-options{
		padding-left: 10px;
		padding-top: 10px;
		.glyphicon{
			vertical-align: text-top;
		}
	}
}


.sec-nav a, .sec-nav span.inactive {
	border-bottom: 1px solid #ddd;
	display: block;
	padding: 7px 0 7px 7px;
	padding-left: 13px;

	&:hover {
		color: #fff;
		text-decoration: none;
	}
	@media screen and (min-width: $break-medium) {
		//padding-left: 20px;
	}
}

//completed nav colors
.sec-nav .completed > a, .sec-nav .completed > span.inactive{
	padding-left: 10px;
	color: darken($green, 20);
	&:hover {
		color: lighten($green, 20)
	}
}

.sec-nav .active > a, .sec-nav .active > span.inactive {
	background: #000;
	color: #fff;
	position: relative;
	@media screen and (min-width: $break-medium) {
		&:before {
			content: '';
			width: 0px;
			height: 0px;
			border-style: solid;
			border-width: 21px 0 21px 8px;
			border-color: transparent transparent transparent #fff;
			position: absolute;
			left: -1px;
			top: 50%;
			margin-top: -21px;
		}
	}
}

.sec-nav .active.completed > a {
	color: lighten($green, 20);
}

.sec-nav span.inactive{
	color: #858383;
	&:hover {
		background-color: none;
		color: #858383;
	}
}

.sec-nav{
	.glyphicon-ok{
		color: $green;
		padding-right: 5px;
	}

	h2{
		padding-left: 10px;
	}

	ul.second-level{
		font-size: 0.8em;

		li a, li span.inactive {
			padding-left: 15px;
		}
	}
}
.sec-nav .active>a:before, .sec-nav .active>span.inactive:before{
	left: -2px;
}

.sec-nav .second-level .active>a:before, .sec-nav .second-level .active>span.inactive:before{
	left: -3px;
}
/* Per slide Navigation and Caption */

.well.caption-nav{
	margin-top: 2em;

	img{
		padding: 1em;
	}

	audio{
		width: 100%;
	}

	p{
		margin-top: 0;
	}
}

.slide-nav{
	@media (min-width: $screen-sm-min) { 
		text-align: right;
	}
}

.btn.next-sec{
	margin-top: 1em;
	background: $green;
	color: white;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.29);
	@media (min-width: $screen-sm-min) { 
		margin-top: 0;
		//float: right;
	}
}

.btn.narration{

}
