/* Primary Navigation */

.sidenav {
	&__item {
		&--current {
			& > a {
				color: #fff;
				font-weight: bold;
			}
		}

		&--section {
			background-color: #111;

			& > a {
				&:after {
					content: "";
				}
			}

			& .sidenav__item--current {
				color: #fff;
			}
		}

		&--second-level {
			& .sidenav__link {
				color: #eee;

				&:before {
					content: '';
				}

				&:hover, &:focus {
					text-decoration: none;
				}
			}

			&.sidenav__item--current {
				& > a {
					color: #eee;
				}
			}
		}

		&--third-level {
			& .sidenav__link {
				color: #eee;
				text-decoration: none;

				&:before {
					content: '';
				}
			}

			&.sidenav__item--current {
				& a {
					color: #fff;
				}
			}
		}
	}

	&__link {
		color: #fff;
		text-decoration: none;

		&:hover, &:focus {
			text-decoration: none;
		}
	}
}

.col-md-4.side-content {
	@media (min-width: $break-medium) {
		padding-left: 0;
	}
}

.sidenav__link > a, .sidenav__link span.inactive {
	&:hover {
		color: #fff;
		text-decoration: none;
	}

	&:before {
		content: "";
	}
}

.sidenav__item .sidenav__item--current {
	& > a {
		color: #fff;
		font-weight: bold;
	}
}

//completed nav colors
.sidenav__item .completed > a, .sidenav__item .completed > span.inactive {
	// color: darken($green, 20);
	color: #eee;

	&.sidenav__link .fa .fa-check {
		color: $green;
	}

	&:hover {
		// color: lighten($green, 20);
		color: $green;
		text-decoration: none;
	}
}

.sidenav__item .sidenav__item--active > a, .sidenav__item--active > span.inactive {
	color: #fff;

	@media screen and (min-width: $break-medium) {
		&:before {
			content: '';
		}
	}
}

.sidenav__link span.inactive {
	color: #858383;
	text-decoration: none;

	&:hover {
		text-decoration: none;
		background-color: none;
		color: #858383;
	}
}

.sidenav {
	h2 {
		padding-left: 10px;
	}

	ul.second-level {
		font-size: 0.8em;

		li a, li span.inactive {
			padding-left: 15px;
		}
	}
}

/* Per slide Navigation and Caption */

.well.caption-nav {
	margin-top: 2em;

	img {
		padding: 1em;
	}

	audio {
		width: 100%;
	}

	p {
		margin-top: 0;
	}
}

.slide-nav {
	@media (min-width: $break-small) {
		text-align: right;
	}
}

.button--next-sec {
	margin-top: 1em;
	background: $green;
	color: white;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.29);

	@media (min-width: $break-small) {
		margin-top: 0;

		//float: right;
	}
}